
{% extends 'base.html' %}<!--этот шаблон расширяет базовый шаблон base.html-->
<!-- Это заголовок вкладки страницы для вставки в base.html-->
{% block title %}ВСЕ КУРСЫ{% endblock %}

<!--Отсюда(Сюда) вставляется таблица из шаблона в base.html, названия блоков "content" должны совпадать-->
{% block content %}
<table class="table mt-5 table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Курс</th>
            <th>Category</th>
            <th>Price</th>
            <th>Students Quantity</th>
            <th>Кнопки</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.title }}</td>
            <td>{{ course.category }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.students_qty }}</td>
            <td><button class="btn btn-primary">Кнопка</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

