<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Students Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for curse in courses %}
        <tr>
            <td>{{ curse.title }}</td>
            <td>{{ curse.category }}</td>
            <td>{{ curse.price }}</td>
            <td>{{ curse.students_qty }}</td>
            <td>,<button>Bay</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


